.footer {

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 440fr 375fr 200fr;
    justify-content: space-between;
  }

  @media (max-width: 800px) {
    div {
      margin-bottom: 20px;
    }
  }

  border-top: 1px solid #EFEFF6;
  padding: 50px 50px;

  .footer-title {
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 5px;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--light-blue);
        transition: color 0.3s;

        i[class*="icofont-"] {
          color: #000000;
          margin-right: 10px;
        }
      }
    }
  }
}