{% extends 'back/base.html.twig' %}

{% block title 'Espace personnel enseignant' %}

{% block body %}
    <h1>Bonjour {{ app.user.firstname }}, ravi de vous revoir !</h1>
    <p>Voici ce qu'il y a de nouveau dans votre Classmate Enseignant pour la classe de #CLASSE#.</p>
{% endblock %}