<a class="icofont-navigation-menu" id="header__icon"></a>
<img class="home_icon" src="{{ asset("/images/icone.png") }}" alt="Classmate">
<nav>
	<ul>
		<li class="{{ app.request.attributes.get( '_route' ) is same as "front_home" ? "active" }}">
			<a href="{{ path("front_home") }}"><i class="icofont-home"></i> Accueil</a>
		</li>
		<li class="dropdown">
			<a href="javascript:void(0)"><i class="icofont-compass-alt"></i> Découvrir Classmate</a>
			<ul class="dropdown-content">
				<li><a href="">À propos de Classmate</a></li>
				<li><a href="">Fonctionnalités en détail</a></li>
				<li><a href="">Gamme tarifaire</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="javascript:void(0)"><i class="icofont-learn"></i> Applications</a>
			<ul class="dropdown-content">
				<li><a href="">GéoBrevet</a></li>
				<li><a href="">Créez votre application !</a></li>
			</ul>
		</li>
		<li><a href=""><i class="icofont-pen-alt-1"></i> Blog</a></li>
		<li><a href=""><i class="icofont-confounded"></i> Assistance</a></li>
		<li><a href=""><i class="icofont-at"></i> Contact</a></li>
	</ul>
	<ul>
		<li><a href="">Se connecter</a></li>
	</ul>
</nav>